.responsive-embed {
    position: relative;
    padding-bottom: 56.2%;
    height: 0;
    margin: 10px 0;
    overflow: hidden
  }
  .responsive-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    border-radius: 15px
  }